__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.venv/
venv/
env/
.env
.env.local
.idea/
.vscode/
.DS_Store
*.log
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
node_modules/

# Local cache
api/app/data/cache.json

#aux
.pdf
